In [24]:
import numpy as np
import pandas as pd
from matplotlib import pyplot as plt
from scipy.stats import chisquare, pearsonr, ttest_ind

from sklearn.model_selection import train_test_split
import tensorflow as tf
from tensorflow import keras
from tensorflow.keras import layers, losses, optimizers, metrics

# Preprocessing

In [25]:
df = pd.read_csv('firstweek_features_binary.csv').drop('Unnamed: 0', axis=1)

In [26]:
df.head()

,Has_location,Has_username,Followers,Followees,Age_account,Total_tweets,Favourite,Groups,Has_Image,Aver_favourite,...,Has_tvshow,Posted_noon,Posted_weeke,Posted_eve,Has_excl,Num_hashtag,Opt_len,Has_suggest,Has_video,@@class@@
0,0,0,39113.0,10.0,421.0,1221.0,145.0,1489.0,1,0.34,...,0,0,1,0,0,0.0,0,0,0,1
1,0,0,663748.0,28.0,2025.0,4658.0,3.0,631.0,0,0.00,...,0,0,1,0,0,0.0,0,0,0,1
2,1,0,1836.0,597.0,242.0,272.0,0.0,3.0,0,0.00,...,0,0,1,1,0,0.0,0,0,0,1
3,0,0,3494.0,4617.0,226.0,1548.0,711.0,29.0,0,3.15,...,0,0,0,0,0,0.0,0,0,0,1
4,0,0,523.0,714.0,375.0,5715.0,3201.0,1.0,0,8.54,...,0,0,1,0,1,0.0,0,0,0,1

In [27]:
# Functions
def calc_ttest(df, pred, resp, values):
    assert len(values) == 2
    
    subset1 = df[df[resp] == values[0]]
    subset2 = df[df[resp] == values[1]]
    
    return ttest_ind(subset1[pred], subset2[pred], equal_var=False)

def filter_significant_t(df, cls, alpha):
    col_list = []
    columns = list(df.columns)
    columns.remove(cls)
    
    for col in columns:
        result = calc_ttest(df, col, cls, [0, 1])
        
        if result.pvalue <= alpha:
            col_list.append(col)
    
    return df[col_list]

def calc_chisquare(df, pred, resp, value, silent=False):
    subset = df[df[resp] == value]
    true_unique, true_counts = np.unique(df[pred], return_counts=True)
    
    unique, counts = np.unique(subset[pred], return_counts=True)
    sample_counts = np.zeros(len(true_counts))
    
    for attr, count in zip(unique, counts):
        pos = np.where(true_unique == attr)[0][0]
        sample_counts[pos] = count
        
    scaled_counts = len(df)*sample_counts/len(subset)
    if not silent:
        print(scaled_counts)
        print(true_counts)
    return chisquare(scaled_counts, true_counts)

def filter_significant_x2(df, cls, alpha):
    col_list = []
    columns = list(df.columns)
    columns.remove(cls)
#     print(columns)
    
    for col in columns:
        result0 = calc_chisquare(df, col, cls, 0, silent=True)
        result1 = calc_chisquare(df, col, cls, 1, silent=True)
        
        if result0.pvalue <= alpha or result1.pvalue <= alpha:
            col_list.append(col)
    
    return df[col_list]

def numerify(x):
    if x == 'positive':
        return 1
    if x == 'negative':
        return -1
    else:
        return 0

In [28]:
continuous_cols = ['Followers',
                 'Followees',
                 'Age_account',
                 'Total_tweets',
                 'Favourite', 
                 'Groups', 
                 'Aver_favourite', 
                 'Length_tweet',
                 'Aver_tweets',
                 'Name_length',
                 '@@class@@']

continuous = df[continuous_cols]
continuous_cols.remove('@@class@@')
discrete = df.drop(continuous_cols, axis=1)

In [29]:
significant_continuous = filter_significant_t(continuous, '@@class@@', 0.05)

In [30]:
significant_discrete = filter_significant_x2(discrete, '@@class@@', 0.05)

In [31]:
significant_discrete

,Has_location,Has_username,Has_Image,Contain_URL,Sent_level,Has_Uword,Posted_holiday,Has_number,Has_rt,Has_org,Has_tvshow,Posted_noon,Posted_weeke,Posted_eve,Has_excl,Num_hashtag,Opt_len,Has_suggest,Has_video
0,0,0,1,1,negative,0,1,0,0,0,0,0,1,0,0,0.0,0,0,0
1,0,0,0,0,positive,0,1,1,0,0,0,0,1,0,0,0.0,0,0,0
2,1,0,0,1,negative,0,1,0,0,0,0,0,1,1,0,0.0,0,0,0
3,0,0,0,1,negative,0,0,0,0,0,0,0,0,0,0,0.0,0,0,0
4,0,0,0,0,negative,0,1,0,0,0,0,0,1,0,1,0.0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6043131,0,0,1,1,positive,0,0,0,0,0,0,0,1,0,1,0.0,0,0,0
6043132,0,0,0,0,positive,0,0,1,0,0,0,0,1,0,1,0.0,1,0,0
6043133,0,0,0,0,negative,0,0,0,0,0,0,0,1,0,0,0.0,0,0,0
6043134,0,0,0,1,negative,0,0,0,0,0,0,0,1,0,0,0.0,0,0,0
6043135,0,0,1,1,negative,0,0,0,0,0,0,0,1,0,0,0.0,0,0,0

In [32]:
significant_continuous

,Followers,Followees,Age_account,Total_tweets,Favourite,Groups,Aver_favourite,Length_tweet,Aver_tweets,Name_length
0,39113.0,10.0,421.0,1221.0,145.0,1489.0,0.34,111.0,2.90,11.0
1,663748.0,28.0,2025.0,4658.0,3.0,631.0,0.00,45.0,2.30,16.0
2,1836.0,597.0,242.0,272.0,0.0,3.0,0.00,156.0,1.12,6.0
3,3494.0,4617.0,226.0,1548.0,711.0,29.0,3.15,74.0,6.85,15.0
4,523.0,714.0,375.0,5715.0,3201.0,1.0,8.54,42.0,15.24,8.0
...,...,...,...,...,...,...,...,...,...,...
6043131,2.0,796.0,8.0,23.0,9.0,0.0,1.13,77.0,2.88,5.0
6043132,2087.0,648.0,2451.0,163551.0,249632.0,7.0,101.85,85.0,66.73,13.0
6043133,21.0,18.0,1271.0,1677.0,48.0,1.0,0.04,44.0,1.32,6.0
6043134,4.0,54.0,1206.0,265.0,1.0,0.0,0.00,49.0,0.22,18.0
6043135,31.0,87.0,1193.0,41052.0,0.0,0.0,0.00,103.0,34.41,10.0

In [33]:
Sent_level = significant_discrete['Sent_level'].apply(numerify)
significant_discrete.drop('Sent_level', axis=1)
significant_discrete = significant_discrete.assign(Sent_level = Sent_level)

In [34]:
np.unique(significant_discrete['Sent_level'])

array([-1,  0,  1], dtype=int64)

In [35]:
significant = significant_discrete.join(significant_continuous)
significant.head()

,Has_location,Has_username,Has_Image,Contain_URL,Sent_level,Has_Uword,Posted_holiday,Has_number,Has_rt,Has_org,...,Followers,Followees,Age_account,Total_tweets,Favourite,Groups,Aver_favourite,Length_tweet,Aver_tweets,Name_length
0,0,0,1,1,-1,0,1,0,0,0,...,39113.0,10.0,421.0,1221.0,145.0,1489.0,0.34,111.0,2.90,11.0
1,0,0,0,0,1,0,1,1,0,0,...,663748.0,28.0,2025.0,4658.0,3.0,631.0,0.00,45.0,2.30,16.0
2,1,0,0,1,-1,0,1,0,0,0,...,1836.0,597.0,242.0,272.0,0.0,3.0,0.00,156.0,1.12,6.0
3,0,0,0,1,-1,0,0,0,0,0,...,3494.0,4617.0,226.0,1548.0,711.0,29.0,3.15,74.0,6.85,15.0
4,0,0,0,0,-1,0,1,0,0,0,...,523.0,714.0,375.0,5715.0,3201.0,1.0,8.54,42.0,15.24,8.0

# Model

In [36]:
X, y = significant, df['@@class@@']

In [37]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, shuffle=True, stratify=y, random_state=42)

In [38]:
X_train.shape

(4834508, 29)

In [39]:
X_test.shape

(1208628, 29)

In [40]:
y_train.shape

(4834508,)

In [41]:
y_test.shape

(1208628,)

In [42]:
input_shape = (X.shape[1],)
batch_size = 512
learning_rate = 1e-3
epochs = 50

In [43]:
model = keras.Sequential([
    layers.Dense(128, input_shape=input_shape, activation=tf.nn.relu),
    layers.Dropout(0.5),
    
    layers.Dense(256, input_shape=input_shape, activation=tf.nn.relu),
    layers.Dropout(0.5),
    
    layers.Dense(256, activation=tf.nn.relu),
    layers.Dropout(0.5),
    
    layers.Dense(1)
])

In [45]:
model.compile(
    loss = losses.BinaryCrossentropy(from_logits=True),
    optimizer = optimizers.Adam(learning_rate),
    metrics = [metrics.BinaryAccuracy()]
)

In [46]:
model.fit(X_train, y_train, epochs=epochs, batch_size=batch_size)

Epoch 1/50
9443/9443 [==============================] - 21s 2ms/step - loss: 29.3815 - binary_accuracy: 0.6670
Epoch 2/50
9443/9443 [==============================] - 20s 2ms/step - loss: 0.6530 - binary_accuracy: 0.6660
Epoch 3/50
9443/9443 [==============================] - 21s 2ms/step - loss: 0.5934 - binary_accuracy: 0.7015
Epoch 4/50
9443/9443 [==============================] - 21s 2ms/step - loss: 0.5473 - binary_accuracy: 0.7817
Epoch 5/50
9443/9443 [==============================] - 21s 2ms/step - loss: 0.6771 - binary_accuracy: 0.7812
Epoch 6/50
9443/9443 [==============================] - 21s 2ms/step - loss: 0.5562 - binary_accuracy: 0.7813
Epoch 7/50
9443/9443 [==============================] - 22s 2ms/step - loss: 0.5374 - binary_accuracy: 0.7817
Epoch 8/50
9443/9443 [==============================] - 22s 2ms/step - loss: 0.5365 - binary_accuracy: 0.7814
Epoch 9/50
9443/9443 [==============================] - 22s 2ms/step - loss: 0.5429 - binary_accuracy: 0.7787
Epoch 10/50
9443/9443 [==============================] - 22s 2ms/step - loss: 0.5219 - binary_accuracy: 0.7817
Epoch 11/50
9443/9443 [==============================] - 21s 2ms/step - loss: 0.5297 - binary_accuracy: 0.7798
Epoch 12/50
9443/9443 [==============================] - 21s 2ms/step - loss: 0.7047 - binary_accuracy: 0.7783
Epoch 13/50
9443/9443 [==============================] - 20s 2ms/step - loss: 0.5813 - binary_accuracy: 0.7801
Epoch 14/50
9443/9443 [==============================] - 20s 2ms/step - loss: 0.5609 - binary_accuracy: 0.7752
Epoch 15/50
9443/9443 [==============================] - 21s 2ms/step - loss: 0.5230 - binary_accuracy: 0.7775
Epoch 16/50
9443/9443 [==============================] - 21s 2ms/step - loss: 0.5272 - binary_accuracy: 0.7751
Epoch 17/50
9443/9443 [==============================] - 21s 2ms/step - loss: 0.5254 - binary_accuracy: 0.7703
Epoch 18/50
9443/9443 [==============================] - 21s 2ms/step - loss: 0.5178 - binary_accuracy: 0.7733
Epoch 19/50
9443/9443 [==============================] - 21s 2ms/step - loss: 0.5165 - binary_accuracy: 0.7750
Epoch 20/50
9443/9443 [==============================] - 21s 2ms/step - loss: 0.5157 - binary_accuracy: 0.7776
Epoch 21/50
9443/9443 [==============================] - 21s 2ms/step - loss: 0.5161 - binary_accuracy: 0.7747
Epoch 22/50
9443/9443 [==============================] - 21s 2ms/step - loss: 0.5210 - binary_accuracy: 0.7749
Epoch 23/50
9443/9443 [==============================] - 22s 2ms/step - loss: 0.5366 - binary_accuracy: 0.7761
Epoch 24/50
9443/9443 [==============================] - 33s 3ms/step - loss: 0.5252 - binary_accuracy: 0.7748
Epoch 25/50
9443/9443 [==============================] - 32s 3ms/step - loss: 0.5235 - binary_accuracy: 0.7745
Epoch 26/50
9443/9443 [==============================] - 29s 3ms/step - loss: 0.5098 - binary_accuracy: 0.7750
Epoch 27/50
9443/9443 [==============================] - 26s 3ms/step - loss: 0.5452 - binary_accuracy: 0.7728
Epoch 28/50
9443/9443 [==============================] - 26s 3ms/step - loss: 0.5311 - binary_accuracy: 0.7709
Epoch 29/50
9443/9443 [==============================] - 25s 3ms/step - loss: 0.5106 - binary_accuracy: 0.7688
Epoch 30/50
9443/9443 [==============================] - 26s 3ms/step - loss: 0.5413 - binary_accuracy: 0.7757
Epoch 31/50
9443/9443 [==============================] - 25s 3ms/step - loss: 0.5100 - binary_accuracy: 0.7758
Epoch 32/50
9443/9443 [==============================] - 25s 3ms/step - loss: 0.5159 - binary_accuracy: 0.7783
Epoch 33/50
9443/9443 [==============================] - 27s 3ms/step - loss: 0.5120 - binary_accuracy: 0.7753
Epoch 34/50
9443/9443 [==============================] - 27s 3ms/step - loss: 0.5254 - binary_accuracy: 0.7730
Epoch 35/50
9443/9443 [==============================] - 22s 2ms/step - loss: 0.5075 - binary_accuracy: 0.7745
Epoch 36/50
9443/9443 [==============================] - 21s 2ms/step - loss: 0.5229 - binary_accuracy: 0.7729
Epoch 37/50
9443/9443 [==============================] - 21s 2ms/step - loss: 0.5143 - binary_accuracy: 0.7731
Epoch 38/50
9443/9443 [==============================] - 21s 2ms/step - loss: 0.5158 - binary_accuracy: 0.7750
Epoch 39/50
9443/9443 [==============================] - 22s 2ms/step - loss: 0.5424 - binary_accuracy: 0.7740
Epoch 40/50
9443/9443 [==============================] - 22s 2ms/step - loss: 0.5220 - binary_accuracy: 0.7753
Epoch 41/50
9443/9443 [==============================] - 22s 2ms/step - loss: 0.5299 - binary_accuracy: 0.7686
Epoch 42/50
9443/9443 [==============================] - 22s 2ms/step - loss: 0.5209 - binary_accuracy: 0.7727
Epoch 43/50
9443/9443 [==============================] - 21s 2ms/step - loss: 0.5116 - binary_accuracy: 0.7724
Epoch 44/50
9443/9443 [==============================] - 21s 2ms/step - loss: 0.5122 - binary_accuracy: 0.7723
Epoch 45/50
9443/9443 [==============================] - 21s 2ms/step - loss: 0.5146 - binary_accuracy: 0.7752
Epoch 46/50
9443/9443 [==============================] - 21s 2ms/step - loss: 0.5103 - binary_accuracy: 0.7749
Epoch 47/50
9443/9443 [==============================] - 21s 2ms/step - loss: 0.5149 - binary_accuracy: 0.7744
Epoch 48/50
9443/9443 [==============================] - 21s 2ms/step - loss: 0.5174 - binary_accuracy: 0.7724
Epoch 49/50
9443/9443 [==============================] - 22s 2ms/step - loss: 0.5136 - binary_accuracy: 0.7666
Epoch 50/50
9443/9443 [==============================] - 23s 2ms/step - loss: 0.5081 - binary_accuracy: 0.7709

In [47]:
model.evaluate(X_test, y_test, batch_size=batch_size)

2361/2361 [==============================] - 3s 1ms/step - loss: 0.4812 - binary_accuracy: 0.7806

[0.4811747670173645, 0.7806496024131775]

In [48]:
model.evaluate(X_train, y_train, batch_size=batch_size)

9443/9443 [==============================] - 13s 1ms/step - loss: 0.4811 - binary_accuracy: 0.7808

[0.4810819923877716, 0.7808465957641602]

In [ ]:
0